n8n-daily-scheduled-publisher.json
{
  "name": "Facebook Daily Scheduled Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "schedule-trigger",
      "name": "Daily at 6 AM"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://xhyttombqrhqvnycyzlj.supabase.co/rest/v1/facebook_scheduled_posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "scheduled_for",
              "value": "not.is.null"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 300],
      "id": "fetch-scheduled-posts",
      "name": "Fetch Scheduled Posts",
      "credentials": {
        "supabaseApi": {
          "id": "9wxMVkfSJBYoL43Q",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-due-posts",
              "leftValue": "={{ $json.scheduled_for }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [440, 300],
      "id": "filter-due-posts",
      "name": "Filter Posts Due Now"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300],
      "id": "loop-over-posts",
      "name": "Loop Over Posts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "photo-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "video-condition",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "text-condition",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [880, 300],
      "id": "media-type-switch",
      "name": "Media Type Switch"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.facebook_page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name_with_location_descriptor,access_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1100, 100],
      "id": "get-token-photo",
      "name": "Get Token (Photo)",
      "credentials": {
        "facebookGraphApi": {
          "id": "JAEtqLx2roZPZJ0G",
          "name": "Facebook Graph User"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.facebook_page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name_with_location_descriptor,access_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1100, 300],
      "id": "get-token-video",
      "name": "Get Token (Video)",
      "credentials": {
        "facebookGraphApi": {
          "id": "JAEtqLx2roZPZJ0G",
          "name": "Facebook Graph User"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.facebook_page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name_with_location_descriptor,access_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1100, 500],
      "id": "get-token-text",
      "name": "Get Token (Text)",
      "credentials": {
        "facebookGraphApi": {
          "id": "JAEtqLx2roZPZJ0G",
          "name": "Facebook Graph User"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Loop Over Posts').item.json.facebook_page_id }}/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Loop Over Posts').item.json.media_url }}"
            },
            {
              "name": "message",
              "value": "={{ $('Loop Over Posts').item.json.post_content }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1320, 100],
      "id": "publish-photo",
      "name": "Publish Photo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Loop Over Posts').item.json.facebook_page_id }}/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Loop Over Posts').item.json.media_url }}"
            },
            {
              "name": "description",
              "value": "={{ $('Loop Over Posts').item.json.post_content }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1320, 300],
      "id": "publish-video",
      "name": "Publish Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Loop Over Posts').item.json.facebook_page_id }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Loop Over Posts').item.json.post_content }}"
            },
            {
              "name": "link",
              "value": "={{ $('Loop Over Posts').item.json.link_url }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1320, 500],
      "id": "publish-text",
      "name": "Publish Text/Link"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xhyttombqrhqvnycyzlj.supabase.co/rest/v1/facebook_scheduled_posts?id=eq.{{ $('Loop Over Posts').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"published\", \"published_at\": \"{{ $now.toISO() }}\", \"facebook_post_id\": \"{{ $json.post_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1540, 100],
      "id": "update-status-photo",
      "name": "Update Status (Photo)",
      "credentials": {
        "supabaseApi": {
          "id": "9wxMVkfSJBYoL43Q",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xhyttombqrhqvnycyzlj.supabase.co/rest/v1/facebook_scheduled_posts?id=eq.{{ $('Loop Over Posts').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"published\", \"published_at\": \"{{ $now.toISO() }}\", \"facebook_post_id\": \"{{ $json.id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1540, 300],
      "id": "update-status-video",
      "name": "Update Status (Video)",
      "credentials": {
        "supabaseApi": {
          "id": "9wxMVkfSJBYoL43Q",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xhyttombqrhqvnycyzlj.supabase.co/rest/v1/facebook_scheduled_posts?id=eq.{{ $('Loop Over Posts').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"published\", \"published_at\": \"{{ $now.toISO() }}\", \"facebook_post_id\": \"{{ $json.id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1540, 500],
      "id": "update-status-text",
      "name": "Update Status (Text)",
      "credentials": {
        "supabaseApi": {
          "id": "9wxMVkfSJBYoL43Q",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Daily at 6 AM": {
      "main": [
        [
          {
            "node": "Fetch Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scheduled Posts": {
      "main": [
        [
          {
            "node": "Filter Posts Due Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts Due Now": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Posts": {
      "main": [
        null,
        [
          {
            "node": "Media Type Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Type Switch": {
      "main": [
        [
          {
            "node": "Get Token (Photo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Token (Video)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Token (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token (Photo)": {
      "main": [
        [
          {
            "node": "Publish Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token (Video)": {
      "main": [
        [
          {
            "node": "Publish Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token (Text)": {
      "main": [
        [
          {
            "node": "Publish Text/Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Photo": {
      "main": [
        [
          {
            "node": "Update Status (Photo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Video": {
      "main": [
        [
          {
            "node": "Update Status (Video)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Text/Link": {
      "main": [
        [
          {
            "node": "Update Status (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status (Photo)": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status (Video)": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status (Text)": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
