n8n-scheduled-publisher.json
{
  "name": "Facebook Scheduled Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Daily at Midnight"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://xhyttombqrhqvnycyzlj.supabase.co/rest/v1/facebook_scheduled_posts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "scheduled_for",
              "value": "not.is.null"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 0],
      "id": "fetch-scheduled-posts",
      "name": "Fetch Scheduled Posts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-due-posts",
              "leftValue": "={{ $json.scheduled_for }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "filter-due-posts",
      "name": "Filter Posts Due Now"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 0],
      "id": "loop-over-posts",
      "name": "Loop Over Posts"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.facebook_page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name_with_location_descriptor,access_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 0],
      "id": "get-page-token",
      "name": "Get Page Access Token",
      "credentials": {
        "facebookGraphApi": {
          "id": "JAEtqLx2roZPZJ0G",
          "name": "Facebook Graph User"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Loop Over Posts').item.json.facebook_page_id }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Loop Over Posts').item.json.post_content }}"
            },
            {
              "name": "link",
              "value": "={{ $('Loop Over Posts').item.json.link_url }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1100, 0],
      "id": "publish-to-facebook",
      "name": "Publish to Facebook"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xhyttombqrhqvnycyzlj.supabase.co/rest/v1/facebook_scheduled_posts?id=eq.{{ $('Loop Over Posts').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"published\",\n  \"published_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1320, 0],
      "id": "update-post-status",
      "name": "Update Post Status"
    }
  ],
  "connections": {
    "Daily at Midnight": {
      "main": [
        [
          {
            "node": "Fetch Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scheduled Posts": {
      "main": [
        [
          {
            "node": "Filter Posts Due Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts Due Now": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Posts": {
      "main": [
        null,
        [
          {
            "node": "Get Page Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Access Token": {
      "main": [
        [
          {
            "node": "Publish to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Facebook": {
      "main": [
        [
          {
            "node": "Update Post Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post Status": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
